<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .link { color: black; }
        .link:hover {color: red; }
    </style>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1 align="center">Welcome To Your Dashboard!</h1>
    <p><a class ="link" href=request style="text-decoration: none;" ><button class=grey style=height:75px;width:150px>Submit a Service Request</a></p>
    <br>
    <br>
    <br>
    <h3>Requested Services</h3>
    <br>
    <br>
    <br>
    <h3>Sevices in Progress</h3>
    <br>
    <br>
    <br>
    <h3>Completed Services</h3>

</body>
</html>